* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}
body {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 1.5rem;
      min-height: 200vh;
}

.outer-container {
      border-style: dashed;
      border-width: 3px;
      width: 75vw;
      height: 85vh;
      margin: 40px  auto;
      position: relative;
}

.inner-container {
      border: 2px solid blue;
      width: 40vw;
      height: 50vh;
      margin: 200px auto;
      /* position: relative; */
}

.box {
      width: 150px;
      height: 150px;
      color: #fff;
      padding: 1rem;
}

.absolute {
      background-color: darkblue;
      position: absolute;
      top: 0;
      left: 0px;
      right: 5rem;
}

.relative {
      background-color: darkred;
      position: relative;
      top: 400px;
      left: 100px;
      z-index: 1;
}

.fixed {
      background-color: darkgreen;
      position: fixed;
      top:200px;

}

.sticky {
      background-color: hsl(60, 100%, 40%);
      position: sticky;
      top: 100px;
}

/* ------------------------------------------- */

html {
      scroll-behavior: smooth;
}

section {
      height: 100vh;
}

.blue {
      background-color: darkblue;
}

.red {
      background-color: darkred;
}

.green {
      background-color: darkgreen;
}

header, footer {
      color: #FFF;
      text-align: center;
      height: 100px;
}

header {
      position: sticky;
      top: 0;
      font-size: 5rem;
}

footer {
      background-color: #000;
      position: fixed;
      bottom:0;
      padding: 0 1rem;
      width: 100%;
      font-size: 4rem;
}

footer a {
      text-decoration: none;
      color:#fff
}

footer a:visited {
      color: #eee;
}

footer a:hover {
      color: pink;
}

.social {
      background-color: royalblue;
      font-size: inherit;
      color:#fff;
      padding: 1rem;
      position: fixed;
      top: 30%;
      left: 0;
      z-index: 1;
}
