@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');


/* begin reset */
* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

/* variables */

:root {
      /* FONT */
      --FF: "Nunito", sans-serif;
      --FS: clamp(1.75rem, 3vh, 2.25rem);
      --FS-SM: clamp(1.25rem, 2vh, 1.5rem);
      --FS-XL: 3rem;
      /* COLOR */
      --BGCOLOR: #475569;
      --ALT-BGCOLOR: hsl(218, 44%, 8%);
      --RADIAL-COLOR: whitesmoke;
      --LIGHT-COLOR: whitesmoke;
      --DARK-COLOR: #000;
      /* SQUARE */
      --SQUARE-BGCOLOR: papayawhip;
      --SQUARE-SIZE: max(150px, 20vw);

      /* GENERAL */
      --PADDING: 0.5em;
      --SHADOW: 0 6px 5px -5px var(--DARK-COLOR);
      --BORDER: 2px solid var(--ALT-BGCOLOR);
}

@media (prefers-color-scheme: light) {
      :root {
            --BGCOLOR: #000;
            --ALT-BGCOLOR: #333;
            --RADIAL-COLOR: rgb(184, 184, 184);
            --SQUARE-BGCOLOR: purple;
            --LIGHT-COLOR:rgb(255, 255, 255);
      }
      
}

body {
      font: var(--FS) var(--FF);
      min-height: 100vh;

      background-color: var(--BGCOLOR);
      background-image: radial-gradient(var(--RADIAL-COLOR), transparent);
      display: flex;
      flex-direction: column;
}

header, nav, footer {
      display: grid;
      place-content: center;
      grid-template-columns: 100%;
      text-align: center;
}

header, footer {
      position: sticky;
      background-color: var(--ALT-BGCOLOR);
      color: var(--LIGHT-COLOR);
}

header {
      top: 0;
}

nav {
      background-color: var(--LIGHT-COLOR);
      color: var(--DARK-COLOR);
      padding: var(--PADDING);
      border-bottom: var(--BORDER);
      display: flex;
      gap: 2rem;
      box-shadow: var(--SHADOW);
}

main {
      flex-grow: 1;

      padding: var(--PADDING);
      color: var(--DARK-COLOR);
      display: grid;
      grid-template-columns: repeat(4, minmax(100px, 300px));
      gap: min(2vw, 20px);

      /* display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start; */
}

main section {
      flex-grow: 1;
      padding: var(--PADDING);
}

main aside {
      background-color: hsla(0,0%,20%,0.8);
      color: var(--LIGHT-COLOR);
      font-size: var(--FS-SM);
      font-style: italic;
      padding: var(--PADDING);
}

.content {
      margin-top: 20px;
}

.tooltip {
      border-bottom: 1px dashed darkorange;
      position: relative;
}

.tooltip:hover::before {
      padding: var(--PADDING);
      content: attr(data-tooltip);
      position: absolute;
      top: 1.2em;
      background-color: hsla(0,0%,0%,0.66);
      border-radius: 5px;
      outline: 5px double purple;
      outline-offset: -7px;
      white-space: nowrap;
}

footer {
      bottom: 0;
}

a:any-link {
      color: firebrick;
}

a:hover, a:focus {
      filter: brightness(135%);

}



/* FEATURES */
.square--highlight {
      --SQUARE-BGCOLOR: cornflowerblue
}


.square {
      background-color: var(--SQUARE-BGCOLOR);
      /* width: var(--SQUARE-SIZE);
      height: var(--SQUARE-SIZE); */
      border: var(--BORDER);
      border-radius: 15px;
      display: grid;
      place-content: center;
      font-size: var(--FS-XL);
      box-shadow: var(--SHADOW);
}

@media screen and (min-width: 576px) {
      main {
            flex-flow: row nowrap;
            justify-content: space-between;
      }

      main section {
            width: calc(70% - 5px);
      }

      main aside {
            width: calc(30% - 5px);
      }
}

/* || SMALL */

/* @media screen and (min-width: 576px) {
      body {
            background-color: green;
            background-image: radial-gradient(whitesmoke, transparent);
      }
      nav {
            display: none;
      }
} */

/* || MEDUIM */

/* @media screen and (min-width: 768px) {
      body {
            background-color: rgb(128, 0, 0);
            background-image: radial-gradient(whitesmoke, transparent);
      }
} */

/* || LARGE */

/* @media screen and (min-width: 992px) {
      body {
            background-color: rgb(13, 0, 128);
            background-image: radial-gradient(whitesmoke, transparent);
      }
} */

/* || XL */

/* @media screen and (min-width: 1200px) {
      body {
            background-color: rgb(92, 0, 128);
            background-image: radial-gradient(whitesmoke, transparent);
      }
} */

/* || MOBILE DEVICE LANDSCAPE */

/* @media screen and (max-height: 425px) and (min-aspect-ratio: 7/4){
      body {
            background-color: rgb(0, 128, 117);
            background-image: radial-gradient(whitesmoke, transparent);
      }
      h1, h2 {
            font-size: 1rem;
      }

      nav {display: none}
} */